{% extends "drishya/header.html" %}

{% block content %}
<!--Top_content-->
<section id="top_content" class="top_cont_outer">
  <div class="top_cont_inner">
    <div class="container">
      <div class="top_content">
        <div class="row">
           <div class="top_left_cont wow fadeInDown delay-03s">
              <div id="gallery">
                
              <a href="#" class="show">
              <img src="https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?w=940&h=650&auto=compress&cs=tinysrgb" width="5000" height="530" rel = "<h3>About Us</h3>
              <h2>what we do here</h2>
              <p> This website is dedicated to explore various field of research in computer vision. Computer vision applications range from biomedical image analysis, human emotion recognition, micro expression analysis, content based image retrieval to surveillance based applications like moving object detection, object tracking, trajectory analysis, action recognition and behaviour ananlysis. Led by Dr. Santosh Kumar Vipparthi, our group comprises of undergraduates, postgraduates and research scholars from various disciplines of study. We are actively working in designing and developing state of the art vision based systems for various applications.</p>"
               />
        </a>
              <a href="#">
	<img src="https://images.pexels.com/photos/54278/pexels-photo-54278.jpeg?h=350&auto=compress&cs=tinysrgb" width="5000" height="530" rel="<h3>one</h3>"
        />
        </a>

        <a href="#">
	<img src="https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?w=940&h=650&auto=compress&cs=tinysrgb" width="5000" height="530" rel="<h3>two</h3>"
        />
        </a>

        <a href="#">
	<img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?h=350&auto=compress&cs=tinysrgb" width="5000" height="530" 
        rel="<h3>three</h3>"/>
        </a>

        <a href="#">
	<img src="https://images.pexels.com/photos/126590/pexels-photo-126590.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" width="5000" height="530" 
        rel="<h3>four</h3>"/>
        </a>
 
        <a href="#">
	<img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?h=350&auto=compress&cs=tinysrgb" width="5000" height="530" 
        rel="<h3>five</h3>"/>
        </a>
            <div class="caption"><div class="content"></div></div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!--Top_content--> 

<!--Service-->
<section  id="service">
  <div class="container">
    <h2>Services</h2>
    <div class="service_area">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa-check"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="moving_object/">Moving Object Detection</a></h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa-eye"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="human_emotion_analysis/">Human Emotion Analysis</a></h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa-asterisk"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="micro_expression_recogn/">Micro Expression Detection</a></h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
      </div>
      <div class="row pt-20">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon4 delay-03s animated wow  zoomIn"> <span><i class="fa-search"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="image_retrieve/">Image Retrieval</a></h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon5  delay-03s animated wow zoomIn"> <span><i class="fa-user"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="face_recogn/">Facial Recognition</a></h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon6  delay-03s animated wow zoomIn"> <span><i class="fa-film"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="action_recogn/">Action Recognition</a></h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
      </div>	  
    </div>
  </div>
</section>
<!--Service-->

<section id="work_outer"><!--main-section-start-->
<div class="top_cont_latest">
  <div class="container">
    <h2>Latest Work</h2>
    <div class="work_section">
   
       <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-05s">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img alt="" src="static/drishya/img/item1.png" class="img-responsive">
                        </div>
                       				
                    </div>
                    <div class="caption">
                        <h3><a href='/work/' class="hover-effect">QUIRE Algorithm</a></h3>
                        <p>Moving object detection technique</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-05s">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img alt="" src="static/drishya/img/item2.png" class="img-responsive">
                        </div>
                                        
                    </div>
                    <div class="caption">
                        <h3><a href='/work/' class="hover-effect">3D ANTIC</a></h3>
                        <p>Micro expression detection technique</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-05s">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img alt="" src="static/drishya/img/item3.png" class="img-responsive">
                        </div>
                                      
                    </div>
                    <div class="caption">
                        <h3><a href='/work/' class="hover-effect">ANTIC</a></h3>
                        <p>Image retrieval technique</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-05s">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img alt="" src="static/drishya/img/item4.png" class="img-responsive">
                        </div>
                                          
                    </div>
                    <div class="caption">
                        <h3><a href='/work/' class="hover-effect">RADAP</a></h3>
                        <p>Face expression recognition</p>
                    </div>
                </div>
            </div>
     
      </div>
    </div>
  </div>
 </div>
</section>
<!--main-section-end--> 

<!--new_demo--> 

<!-- Demo -->
<section id="demo" class="content"> 
  
  <!-- Container -->
  <div class="container demo-title"> 
    
    <!-- Section Title -->
    <div class="section-title">
      <h2>Demo</h2>
    </div>
    <!--/Section Title --> 
    
  </div>
  <!-- Container -->
  
  <div class="demo-top"></div>
  
  <!-- Demo Plus Filters -->
  <div class="Demo"> 
    
    <!-- Demo Filters -->
    <div id="filters" class="sixteen columns">
      <ul class="clearfix">
        <li><a id="all" href="#" data-filter="*" class="active">
          <h5>All</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".moving_object">
          <h5>Moving Object Detection</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".emotion_detect">
          <h5>Human Emotion Analysis</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".image_retrieve">
          <h5>Image Retrieval</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".micro_detect">
          <h5>Micro Expression Detection</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".face_recong">
          <h5>Facial Recongnition</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".action_recong">
          <h5>Action Recognition</h5>
          </a></li>
      </ul>
    </div>
    <!--/Demo Filters --> 
    
    <!-- Demo Wrap -->
    <div class="isotope" style="position: relative; overflow: hidden; height: 480px;" id="demo-wrap"> 
      
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="demo-item one-four   moving_object isotope-item">
        <div class="demo-image"> <img src="static/drishya/img/demo1.jpeg"  alt="Demo 1"> </div>
        <a href='/demo/#moving_indoor'>
        <div class="project-overlay">
          <div class="project-info">
           
            <h4 class="project-name">Indoor</h4>
            <p class="project-categories">Moving Object Detection</p>
          </div>
        </div>
        </a> </div>
      
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="demo-item one-four  emotion_detect isotope-item">
        <div class="demo-image"> <img src="static/drishya/img/demo2.png" alt="Demo 1"> </div>
        <a href='/demo/#human_image'>
        <div class="project-overlay">
          <div class="project-info">
           
            <h4 class="project-name">Image</h4>
            <p class="project-categories">Human Emotion Analysis</p>
          </div>
        </div>
      </a></div>
      
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="demo-item one-four  image_retrieve  isotope-item">
        <div class="demo-image"> <img src="static/drishya/img/demo3.png" alt="Demo 1"> </div>
        <a href='/demo/#image_medical'>
        <div class="project-overlay">
          <div class="project-info">
          
            <h4 class="project-name">Medical Image Retrieval</h4>
            <p class="project-categories">Image Retrieval</p>
          </div>
        </div>
      </a></div>
      
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="demo-item one-four  micro_detect isotope-item">
        <div class="demo-image"> <img src="static/drishya/img/demo4.png" alt="Demo 1"> </div>
        <a href='/demo/#micro_video'>
        <div class="project-overlay">
          <div class="project-info">
           
            <h4 class="project-name">Video</h4>
            <p class="project-categories">Micro Expression Detection</p>
          </div>
        </div>
      </a></div>
      
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="demo-item one-four  action_recong isotope-item">
        <div class="demo-image"> <img src="static/drishya/img/demo5.png" alt="Demo 1"> </div>
        <a href='/demo/#action_image'>
        <div class="project-overlay">
          <div class="project-info">
         
            <h4 class="project-name">Coming Soon</h4>
            <p class="project-categories">Action Recognition</p>
          </div>
        </div>
      </a></div>
      
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="demo-item one-four  moving_object isotope-item">
        <div class="demo-image"> <img src="static/drishya/img/demo6.png" alt="Demo 1"> </div>
        <a href='/demo/#moving_outdoor'>
        <div class="project-overlay">
          <div class="project-info">
           
            <h4 class="project-name">Outdoor</h4>
            <p class="project-categories">Moving Object Detection</p>
          </div>
        </div>
      </a></div>
      
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="demo-item one-four  image_retrieve isotope-item">
        <div class="demo-image"> <img src="static/drishya/img/demo7.png" alt="Demo 1"> </div>
        <a href='/demo/#image_natural' >
        <div class="project-overlay">
          <div class="project-info">
          
            <h4 class="project-name">Natural Image Retrieval</h4>
            <p class="project-categories">Image Retrieval</p>
          </div>
        </div>
        </a> </div>
      

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 480px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="demo-item one-four   face_recong isotope-item">
        <div class="demo-image"> <img src="static/drishya/img/demo8.png"  alt="Demo 1"> </div>
        <a href='/demo/#facial_face'>
        <div class="project-overlay">
          <div class="project-info">
           
            <h4 class="project-name">Face</h4>
            <p class="project-categories">Facial Recognition</p>
          </div>
        </div>
        </a> </div>

      
    </div>
    <!--/Demo Wrap --> 
    
  </div>
  <!--/Demo Plus Filters -->
  
  <div class="demo-bottom"></div>
  
  <!-- Project Page Holder-->
  <div id="project-page-holder">
    <div class="clear"></div>
    <div id="project-page-data"></div>
  </div>
  <!--/Project Page Holder--> 
  
</section>
<!--/Demo --> 

<section class="main-section team" id="team"><!--main-section team-start-->
  <div class="container">
    <h2>Team</h2>
    <h6>Take a closer look into our amazing team.</h6>
    <div class="team-leader-block clearfix">
      <div class="team-leader-box">
        <div class="team-leader wow fadeInDown delay-03s">
          <div class="team-leader-shadow"><a href="javascript:void(0)"></a></div>
          <img src="static/drishya/img/team-leader-pic1.jpg" alt="">
          <ul>
            <li><a href="javascript:void(0)" class="fa-twitter"></a></li>
            <li><a href="javascript:void(0)" class="fa-facebook"></a></li>
            <li><a href="javascript:void(0)" class="fa-pinterest"></a></li>
            <li><a href="javascript:void(0)" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="wow fadeInDown delay-03s">Dr. S.K. Vipparthi</h3>
        <span class="wow fadeInDown delay-03s">Assistant Professor</span>
        <p class="wow fadeInDown delay-03s">Computer Science and Engineering Department, MNIT Jaipur, India</p>
      </div>
      <div class="team-leader-box">
        <div class="team-leader  wow fadeInDown delay-06s">
          <div class="team-leader-shadow"><a href="javascript:void(0)"></a></div>
          <img src="static/drishya/img/team-leader-pic2.jpeg" alt="">
          <ul>
            <li><a href="javascript:void(0)" class="fa-twitter"></a></li>
            <li><a href="javascript:void(0)" class="fa-facebook"></a></li>
            <li><a href="javascript:void(0)" class="fa-pinterest"></a></li>
            <li><a href="javascript:void(0)" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="wow fadeInDown delay-06s">Murari Mandal</h3>
        <span class="wow fadeInDown delay-06s">Research Scholar</span>
        <p class="wow fadeInDown delay-06s">Computer Science and Engineering Department, MNIT Jaipur, India</p>
      </div>
      <div class="team-leader-box">
        <div class="team-leader wow fadeInDown delay-09s">
          <div class="team-leader-shadow"><a href="javascript:void(0)"></a></div>
          <img src="static/drishya/img/team-leader-pic3.jpg" alt="">
          <ul>
            <li><a href="javascript:void(0)" class="fa-twitter"></a></li>
            <li><a href="javascript:void(0)" class="fa-facebook"></a></li>
            <li><a href="javascript:void(0)" class="fa-pinterest"></a></li>
            <li><a href="javascript:void(0)" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="wow fadeInDown delay-09s">Nikita Gupta</h3>
        <span class="wow fadeInDown delay-09s">Undergraduate Student</span>
        <p class="wow fadeInDown delay-09s">Metallurgical and Materials Engineering, MNIT Jaipur, India</p>
      </div>
    </div>
  </div>
</section>
<!--main-section team-end-->

<section class="twitter-feed" id="news"><!--news-feed-->
 
   <h3>Recent Trends in Computer Vision</h3>
     
     
     
</section>

<!--news-feed-end-->


{% endblock %}
